/* styling for nav bar */
body {
    margin: 0;
    background: rgb(34, 34, 34);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}
/*Header Background color*/
header {
    background: #55d6aa;
}

h1 {
    background: white;
}

div.container {
    background-color: lightgrey;
    width: 70%;
    margin-left: 20px;
    padding: 10ppx;

}

section {
    background-color: white;
    width: 70%;
    margin-left: 20px;
    padding: 30ppx;
}
img {
    width: 400px;
    margin: 50px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
